<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>osbuilder/osdjango Directory</title>
</head>
<body>
<h3>Exporting Annotated Documents</h3>
<form action="/osbuilder/exportDocuments">
Index Id <input type="text" name="index" value="8"> Domain Id <input type="text" name="domain" value="1">
<input type="submit" value="Export Documents">
</form>

<h3>Exporting Domain Info</h3>
<form action="/osbuilder/exportDomainInfo">
Domain Id <input type="text" name="domain" value="1">
<input type="submit" value="Export Domain Info">
</form>

</body>
</html>