<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>annieWeb</display-name>
	<servlet>
		<description>
		</description>
		<display-name>
		HelloServlet</display-name>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>
		HelloServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AnnieServlet</display-name>
		<servlet-name>AnnieServlet</servlet-name>
		<servlet-class>
		annieWeb.AnnieServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		get predefined queries from the database</description>
		<display-name>
		GetQueries</display-name>
		<servlet-name>GetQueries</servlet-name>
		<servlet-class>
		annieWeb.GetQueries</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FeedBackServlet</display-name>
		<servlet-name>FeedBackServlet</servlet-name>
		<servlet-class>
		annieWeb.FeedBackServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FeedbackServlet</display-name>
		<servlet-name>FeedbackServlet</servlet-name>
		<servlet-class>
		annieWeb.FeedbackServlet</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>
		GetIndices</display-name>
		<servlet-name>GetIndices</servlet-name>
		<servlet-class>
		annieWeb.GetIndices</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CacheServlet</display-name>
		<servlet-name>CacheServlet</servlet-name>
		<servlet-class>
		annieWeb.CacheServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TaggingServlet</display-name>
		<servlet-name>TaggingServlet</servlet-name>
		<servlet-class>
		annieWeb.TaggingServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FeatureSearchServlet</display-name>
		<servlet-name>FeatureSearchServlet</servlet-name>
		<servlet-class>
		annieWeb.FeatureSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		FeatureInfoServlet</display-name>
		<servlet-name>FeatureInfoServlet</servlet-name>
		<servlet-class>
		annieWeb.FeatureInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		WeightedFeatureSearchServlet</display-name>
		<servlet-name>WeightedFeatureSearchServlet</servlet-name>
		<servlet-class>
		annieWeb.WeightedFeatureSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		LogisticSearchServlet</display-name>
		<servlet-name>LogisticSearchServlet</servlet-name>
		<servlet-class>
		annieWeb.LogisticSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ObjectSearchServlet</display-name>
		<servlet-name>ObjectSearchServlet</servlet-name>
		<servlet-class>
		annieWeb.ObjectSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AnnotationSearchServlet</display-name>
		<servlet-name>AnnotationSearchServlet</servlet-name>
		<servlet-class>
		annieWeb.AnnotationSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		SnippetServlet</display-name>
		<servlet-name>SnippetServlet</servlet-name>
		<servlet-class>
		annieWeb.SnippetServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		GetTrainingQueries</display-name>
		<servlet-name>GetTrainingQueries</servlet-name>
		<servlet-class>
		annieWeb.GetTrainingQueries</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TrainingFeedbackServlet</display-name>
		<servlet-name>TrainingFeedbackServlet</servlet-name>
		<servlet-class>
		annieWeb.TrainingFeedbackServlet</servlet-class>
	</servlet>
		<servlet>
		<description>
		</description>
		<display-name>
		LuceneSearchServlet</display-name>
		<servlet-name>LuceneSearchServlet</servlet-name>
		<servlet-class>
		annieWeb.LuceneSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ExportDataServlet</display-name>
		<servlet-name>ExportDataServlet</servlet-name>
		<servlet-class>
		annieWeb.ExportDataServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		CacheSearchServlet</display-name>
		<servlet-name>CacheSearchServlet</servlet-name>
		<servlet-class>
		annieWeb.CacheSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		LearnerServices</display-name>
		<servlet-name>LearnerServices</servlet-name>
		<servlet-class>
		annieWeb.LearnerServices</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		DocInfoServlet</display-name>
		<servlet-name>DocInfoServlet</servlet-name>
		<servlet-class>
		annieWeb.DocInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TagGuessingServlet</display-name>
		<servlet-name>TagGuessingServlet</servlet-name>
		<servlet-class>
		annieWeb.TagGuessingServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>KeywordSearchServlet</display-name>
		<servlet-name>KeywordSearchServlet</servlet-name>
		<servlet-class>
		annieWeb.KeywordSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LbjseSearchServlet</display-name>
		<servlet-name>LbjseSearchServlet</servlet-name>
		<servlet-class>
		annieWeb.LbjseSearchServlet</servlet-class>
	</servlet>	
	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/servlets/HelloServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnnieServlet</servlet-name>
		<url-pattern>/AnnieServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetQueries</servlet-name>
		<url-pattern>/GetQueries</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FeedbackServlet</servlet-name>
		<url-pattern>/FeedbackServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetIndices</servlet-name>
		<url-pattern>/GetIndices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CacheServlet</servlet-name>
		<url-pattern>/CacheServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TaggingServlet</servlet-name>
		<url-pattern>/TaggingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FeatureSearchServlet</servlet-name>
		<url-pattern>/FeatureSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FeatureInfoServlet</servlet-name>
		<url-pattern>/FeatureInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WeightedFeatureSearchServlet</servlet-name>
		<url-pattern>/WeightedFeatureSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogisticSearchServlet</servlet-name>
		<url-pattern>/LogisticSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ObjectSearchServlet</servlet-name>
		<url-pattern>/ObjectSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AnnotationSearchServlet</servlet-name>
		<url-pattern>/AnnotationSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SnippetServlet</servlet-name>
		<url-pattern>/SnippetServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetTrainingQueries</servlet-name>
		<url-pattern>/GetTrainingQueries</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TrainingFeedbackServlet</servlet-name>
		<url-pattern>/TrainingFeedbackServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LuceneSearchServlet</servlet-name>
		<url-pattern>/LuceneSearchServlet</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>ExportDataServlet</servlet-name>
		<url-pattern>/ExportDataServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CacheSearchServlet</servlet-name>
		<url-pattern>/CacheSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LearnerServices</servlet-name>
		<url-pattern>/LearnerServices</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DocInfoServlet</servlet-name>
		<url-pattern>/DocInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TagGuessingServlet</servlet-name>
		<url-pattern>/TagGuessingServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KeywordSearchServlet</servlet-name>
		<url-pattern>/KeywordSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LbjseSearchServlet</servlet-name>
		<url-pattern>/LbjseSearchServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
